.home {
  text-align: center;
  background-image: url(../image/sea.jpeg);
  height: 800px;
  background-size: cover;
}
.home-title {
  padding-left: 10px;
  padding-top: 180px;
}
.home-title h1 {
  font-size: 60px;
  color: aliceblue;
  padding-bottom: 30px;
}
.btn {
  padding: 10px 10px;
}
